.nav-size{
    height: 4%;
}
ul.menu-size>li{
    padding-right:10px;
    padding-left:10px;
    padding-top:2px;
}

.body-size{
    height: 96%;
}
.logo-size{
    height: 10%;
}
.sub_menu-size{
    height: 10%;
}
.size_cien{
    height: 100%;
}