.color-1{background-color: #77cc92;}
.color-2{background-color: #69b581;}
.color-3{background-color: #6ebd87;}
.color-4{background-color: #549568;}
.color-5{background-color: #417552;}
.color-6{background-color: #222222;}
.color-7{background-color: #F9F9F9;}


ul.menu-color>li:hover{background-color: #000000;}
/*124 124 173*/

.my-list-not-selected {
   
}

.my-list-selected {
    background-color: #000000;
}