:root{
    --color1:#000;
    --color2:#222222;
    --color3:#F9F9F9;
    --color4:#fff;
    --color5:#9d9d9d;
    --color6:#7c7cad;
    --color7:#C6C6C6;
    --color8:rgba(34,35,35,0.5);
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
}

a{
    color: var(--color1);
}
a:hover{
    color: var(--color1);
}
a:visited{
    color: var(--color1);
}
a:link{
    color: var(--color1);
}
html{
    min-height:100%;
    position:relative;
}
body{
    height:100%;
    width: 100%; 
}
.all{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    /*z-index:-1;  Remove this line if it's not going to be a background! */
}

.modal{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:2;
    background-color: var(--color8);
}
.modal_panel{
    position:absolute;
    overflow:hidden;
    margin-top: 5%; 
    margin-left: 20%; 
    width: 60%;
    height: 60%;
    z-index:3;
    background-color: var(--color3);
}
.modal_panel_1{
    position:absolute;
    overflow:hidden;
    margin-top: 5%; 
    margin-left: 35%; 
    width: 30%;
    height: 60%;
    z-index:3;
    background-color: var(--color3);
}
.title_panel{
    width: 100%;
    color:var(--color4);
    padding-left: 10px;
    background-color: var(--color6);
}
.body_panel{
    padding: 5%;
    width: 100%;
}
.nav{
    height: 5%;
    width: 100%;
    background-color:var(--color2);
}
.body{
    height: 95%;
    width: 100%;
    background-color:var(--color3);
}
.menu{
    height: 100%;
    width: 89%; 
    display: inline-block;
    padding-left:10px; 
}
.menu>ul{
    height: 100%;
}
.menu>ul>li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
}
.menu>ul>li:hover{
    background-color:var(--color1); 
}
.menu>ul>li>a{
    display: inline-block;
}
.menu>ul>li>a:hover{
    color: var(--color4);
}
.menu>ul>li>a{
    color: var(--color5);
}
.login{
    height: 100%;
    width: 9%;
    display: inline-block;
    color : var(--color4);
}
.sub_menu{
    height: 100%;
    width: 20%;
    display: inline-block;
    border-right: 1px solid var(--color7);
    background-color: var(--color3);
    z-index: 2;
}
.logo{
    height: 5%;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 2;
    color: var(--color6);
}
.list{   
    padding-left: 5px;
    padding-top: 25px;
    z-index: 2;
}
.list>strong{
    color:var(--color6);
}
.list>ul>li{
    padding-left: 10px;
}
.list>ul>li:hover{
    background-color: var(--color6);
}
.list>ul>li:hover>a{
    background-color: var(--color6);
    color: var(--color3);
}

.list>ul>li.active{
    background-color: var(--color6);
}
.list>ul>li.active>a{
    background-color: var(--color6);
    color: var(--color3);
}
.panel{
    height: 100%;
    width: 79%;
    display: inline-block;
    position: absolute;
    padding-left: 10px;
    z-index: 1;
    background-color: var(--color3);
}
.sub_panel{
    padding-top: 10px;
    padding-left: 10px;
}
.sub_panel h2{
    color:var(--color6);
}
.sub_panel>.head_panel_1{
    width:100%;
}
.sub_panel>.head_panel_1>.title{
    width:75%;
    display: inline-block;
}
.sub_panel>.head_panel_1>.buscar{
    display: inline-block;
}

.sub_panel>.head_panel_1>.buscar input[type=text], select{
    height: 30px;
    width: 200px;
    padding-left:10px; 
    border: 1px solid var(--color7);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.sub_panel>.head_panel_2{
    width:100%;
}
.sub_panel>.head_panel_2>.botones{
    width:75%;
    display: inline-block;
}
.sub_panel>.head_panel_2>.page{
    display: inline-block;
}
.sub_panel>.head_panel_2>.page a.active{
    background-color: var(--color6);
    color: var(--color3);
}
.sub_panel>.head_panel_2>.page .num:hover{
    background-color: var(--color6);
    color: var(--color3);
}
.btn{
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    background-color: var(--color6);
    color: var(--color4);
}
.table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.table>thead>tr>th{
    border-bottom: 2pt solid var(--color7);
}
.table>tbody>tr>td{
    border-bottom: 1pt solid var(--color7);
}

.table_left{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.table_left>thead>tr>th{
    border-bottom: 2pt solid var(--color7);
}
.table_left>tbody>tr>td{
    border-bottom: 1pt solid var(--color7);
}

.table_form{
    text-align: right;
    border-collapse: collapse;
    width: 75%;
}
.table_form_left{
    text-align: left;
    border-collapse: collapse;
    width: 75%;
    padding-left:20px; 
}
.form input[type=text]{
    width: 150px;
    height: 25px;
    border-bottom: 1pt solid var(--color7);
}
.form input[type=number]{
    width: 150px;
    height: 25px;
    border-bottom: 1pt solid var(--color7);
}
.form select{
    width: 150px;
    height: 25px;
    border-bottom: 1pt solid var(--color7);
}