<!DOCTYPE html>

<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>ERP</title>
        <link rel="stylesheet" href="style/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="style/style-color.css">
        <link rel="stylesheet" href="style/style-size.css">
        <link rel="stylesheet" href="style/style-text.css">
        <link rel="stylesheet" href="style/style-border.css">
        
        <!-- morris.js -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script> 
        <script src="script/controller.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="script/script.js"></script>
    </head>
    <body ng-controller="main_controller" >
        <div id="cloud-container">
            <div class=" container-fluid color-6 text-color-1 nav-size">
                <div class="row">
                    <div class="col-sm-10">
                        <ul class=" nav-pills list-none menu-size menu-text menu-color">
                            <li class="my-list-not-selected my-list-selected"><a href="#0">Debates</a></li>
                            <li class="my-list-not-selected"><a href="#1">Inventario</a></li>
                            <li class="my-list-not-selected"><a href="#2">Aplicaciones</a></li>
                            <li class="my-list-not-selected"><a href="#3">Ajustes</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">Administrador</div>
                </div>
            </div>

            <div class="container-fluid body-size">
                <div class="row size_cien">
                    <div class="col-sm-2 color-7 sub_menu-border size_cien">    
                        <div class=" container-fluid logo-size">
                            <h1>Logo</h1>
                        </div>
                        <div class="container-fluid sub_menu">
                            <br>
                            <p class="text-color-2">Tablero</p>
                            <p class="text-color-2">Operaciones</p>
                            <ul>
                                <li>inventario</li>
                                <li>Desecho</li>
                            </ul>
                            <p class="text-color-2">Datos principales</p>
                            <ul>
                                <li>Producto</li>
                                <li>Categoria</li>
                                <li>Provedores</li>
                            </ul>
                            <p class="text-color-2">Informes</p>
                            <ul>
                                <li>Recuperacion inventario actual</li>
                                <li>Valoracion inventario</li>
                            </ul>
                            <p class="text-color-2">Configuracion</p>
                            <ul>
                                <li>Unidades de medida</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-10 color-7 size_cien">
                        <div class="funcion-border container-fluid">
                            <br>
                            <div id="myTab" role="tablist">
                                      <a class="nav-link btn color-1 link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ver</a>
                                      <a class="nav-link btn color-1 link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Crear</a>
                            </div>
                            <br>
                        </div>
                        <div class="tab-content" id="myTabContent">
                        
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                      
                                <form name="myForm">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col"> </th>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Precio</th>
                                                    <th scope="col">Costo</th>
                                                    <th scope="col">Impuesto</th>
                                                    <th scope="col">Cantidad disponible</th>
                                                    <th scope="col">Cantidad minima</th>
                                                    <th scope="col">Cantidad maxima</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="producto in productos">
                                                    <td> <input type="checkbox" ng-model="producto.value"></td>
                                                    <td>{{producto.nombre}}</td>
                                                    <td>{{producto.precio | currency : "₡"}}</td>
                                                    <td>{{producto.costo | currency : "₡"}}</td>
                                                    <td>{{producto.impuesto | currency : "%" }}</td>
                                                    <td>{{producto.cantidadDisponible}}</td>
                                                    <td>{{producto.cantidadMinima}}</td>
                                                    <td>{{producto.cantidadMaxima}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                       
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                            <form>
                                Nombre: <br>
                                <input type="text"><br>
                                Categoria: <br>
                                <select>
                                    <option ng-repeat="categoria in categorias" value="categoria.id_categoria">{{categoria.nombreCategoria}}</option>
                                </select>
                                <br>
                                Unidad Medida: <br>
                                <select>
                                    <option ng-repeat="unidad_medida in unidades_medida" value="unidad_medida.id_UnidadMedida">{{ unidad_medida.simbolo+"-"+unidad_medida.nombreUnidadMedida}}</option>
                                </select>

                            </form>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
        <script>
           // selected_menu();
        </script>
    </body>
</html>